<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Isima</title>
<link rel="stylesheet" type="text/css" href="../static/css/css/style.css" 
	th:href="@{/css/css/style.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/ajoutEnsei.css" 
	th:href="@{/css/ajoutEnsei.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" 
	th:href="@{/css/bootstrap.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/fontello.css" 
	th:href="@{/css/fontello.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/grp.css" 
	th:href="@{/css/grp.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css" 
	th:href="@{/css/prettyPhoto.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" 
	th:href="@{/css/style.css}"/>
</head>
<body>


</body>

</html>