body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;

	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	  background:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTEhIVFRUWFxcVGBcWFxUVFRUVGBcYFhcXFRUYHSggGBolHRcVITEhJSkrLi4uGB8zODMtNygtLisBCgoKDg0OGhAQGy0lHSUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAJIBWAMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAEBQMGAAECB//EAEUQAAEDAgMFBQQHBgMIAwAAAAEAAhEDIQQSMQVBUWFxBhMigZEyobHBIzNCcrLR8BRSYoKSwjSi4QcVJENz0uLxFoPD/8QAGAEAAwEBAAAAAAAAAAAAAAAAAQIDAAT/xAAnEQACAgICAQMEAwEAAAAAAAAAAQIRAyESMUEiMkITI1GBBGGRM//aAAwDAQACEQMRAD8A4oBCYAfTVf5fgUXQ1QmA+uq/yfArsf8A2/Ryr/iNW2THAYog3NktClphWasim0WyhtIRqisNXlVFjkwoVXRvUHjSLRyWWB+LQhxMEwPRANeUVSbZDikNysytiJGiFcUXUZKi7hPGhJJshAUjGqRtJStYjYvE4DVKxq6DFKGpbGo4AXYC3C7agajQC6CJYW8Fo00vIehNR203vK9M60YJG8tcwPafMh4/lTnB1mva1zSC1wDgRoQRII8lUds4EUsUa0OyVwKNSLtY5sd290XAM5Cd0jS6L7GVW0mHB5pfh7QTcUy5wZPkPQhT5bos8a48k/wW8s4KNyxtRbzhEU5lbzLNV02mUDG2hSNClpMgLmoBuS2GjcrAVyttCwTpdQuQVvMsY2twuS5bDljGw1aK6lbyrGIXKCoAi3MUFSmimBgNQBDvRr2Ieo1URNgNQId4nVHvpqF1MJrFaF76aHdQPBNHMChqWEwmUgULn4U8Fikq4hYmuQNFXpC6D2ePpqv8nwKaFtkv2X9dW/k+BSN/dQ6X2mNadNTNpLGBNsJh2xJF1SUqJRjZHhGsGrU1oVd0WUedsXAUgqNhRk7LpUENYz90KbMBuQArhT0q4KWg2EFjXboKFqUyLIpjFxWWTA0DNCkDQtQslOKSd2thqWbW21ToUy9xBiABIkk6D4+ip7e173VQ3SY6RqSpSyxi6bClfR6N3aiqvDdSB1+XFV+lt91RpLIAEgnmNY80jxW2odJJJmDOsKUv5KXtLx/j6uTLk/aQvluUCztE5tnsnmLe5V/ZW2TUcWhjiJ9prTA03/JF1BJNj+uW5c7/AJE+7LxwwapIes2pTqB3iiQ7W24DXSUbT2TS7/8AaQPpCzuy4Ew5khwkaEgix1uVQjTh7yDeWTBhxbkJMc9/kiMDjatNwy1LZGuEGzpkdN3BWWd8qa8WR+mvDPR2sXQaVWsJ2kePbbI46WmNybUNuUnauy9dPUKqypiPG0MWtU7Kigp1ARIII4gyPVbe+NEQJExKwOHFA4iqQ0mfkqjW228v8AGWbTJJ5zKFjcT0BpXSUbHxxe0TY8D8E1BWAdQshcytysYwrGhbC6AWAdArsLgBdhAJoqCsp3OQ9VyKAwCs9CucjarUNVCqibBy4rhzFIei29hhEBCCBrdQ18XK3UouQ9TDlFJAbYLiQDuWlqq1aVUIxI/RL9kD6et/J8HJvi6OVqV7DE1q/Sn/AHKF/cLV9seU0ZSqnihqdNSvZCo9k1aJc53oikcxgIA18rS43gExx4D1hQbFx76uYVAGuaQRlkAtO7XdHvU5zSdFIR5bHj8KV1TpZbqGnVcNHet126uTqB5WSqQzgFjE3XGIxgAk6IGrXDbuMIKrjg4WHry5LSyQiuwLHkl0ghm1Kjz9HStxccoQ21NqVACw0Q4xfK/SerQmWzSXNlwbwEIDHN+lNv1lC58mVqFplceBuTUiqEYeoYMsdrlLnWdyBJHpxVaxALHubN2kwRAMb44K/wC1dkMrMvGYTDtIPDovOMRTqMq5CHGJHKPyXFLe2UnGukPsHtWKZGkiOQAFg0cvfBm5UezMG7EVJMwTwnlJ3Sf9eCRPpVGwCPDO6D8E/wBnbUfRYe6yFxGrhMcm3W5IVO2rLzh6TaTA1o01/wDaGY8GTE8xcKh43F1av1tUuBvEwz+gWQlOuWfV1HNP8OYA+iClEt9VeC+1KbZ+rMzMts4xMGNSb7xC7oYdpGYWDWhkOExlJJuPvH3KmUe11enAe5r2/wATRHqIv1TnDdqqLwM9Mt+6Zb/SYHx0V9eAdjijQIcQAbb2mReNQUY24E890W1HxS2htCi8RSrBsmb+A9JdY24JjQJ+0Sd4I08lpytaGitklAvbdpIP8JIlNdnbZqZsr4duuIcPRLAwRN/L/RFMoguBHL3JIyaGaTLHtBoiHWbME8rz7lWMBsoisWm4YTfc69iPirPtn2D+txQ9I3XYno5mtndGjkIPMehsnCBxVqc9D71Dhtv0yJe0t6eIfmspJdglFvoZytoduNpv9hwPQ39NVKxyotk3ona1dhRBy3nQDZNK1mUeZaJWNZj0PVepHFcEJkKwdxK4ySi1wSjYKBxSXWVafVUL661Nm0jupCDxAXZBK06mVloD2LxQErEwbTG9Yi5syiVLHnweYSrs7Hf154U/7kxxjpalewXRXr9Gf3IfMa/QWWwXLzKjLlkgXJhV6IveiZ1GWdVzhaGUkjgsoYgOsLxfkiKa5ckk5Wjrxqo7MdUyiSgztFxMAR7yjq7fCltWmJnl74XNPI06OiMFRFlknfPHz1K4q/RmwLp0A11tfcosRtKlTnO8TwF3b9w0Quzdvsr1jTYwgBjn5nRJgtEZR97WdyjTaHsOxe18SxktaxskwILnHjwERySTau0sWzxVHRxytA3CNBYRGqI7RbXrMDO7c1oMickuGh8JcY925AM7QuFFrXd5XqS6SSN7jEmOEeiaUfStkvk7BqHays0e0HfeaLc7R70tqVX1nWe0l2kwwHkJsu8VsuriDLMKRO6nJ9REBG4ZlbDU+6LaTRJLphzwDeCQSJ5RZI46B5oSVaFbNkLXZgdOHM8ua29zxbI4u5tNvLemNJ8PD3FwBicriHACYHM3FpHVWHZ/ZZtUB9GuHgi/FruDhqPNBQ5LQriis7M7P4rEGWUnHi50NaPN27omOL7EYtmjWP5Mff8AzAKwns/iKXiaTI3gwfcpcP2grMcBVZnGkizxz4O93VVi0vTKNA4HnuO2NXZOei9oi5LXZf6tPerhs7s5TbRbnkucATBiLWHNXXBYxlVuam6RpwIO8OGoPIqV1Jp1AKrLHftGg1Hs8hxuy3DGuoUi4iGkWjUA35X1TPGYOvhWGo1xytiS08SBy4q/t2NSFV1ZoIe5oaTMiBEWOmgQu19gmrSexjhLssZpAs4OvE8OCXjK/wCh+SopOC7X1BAc5rhwc2D6iFbNmbea8tlpExoQ6Z4DX0VYx/YvEDSnm+4Wn/LY+5XbsT2eFGkx72nvI0IjJyg70zghVNll2w/6Mnr8CoaJ3i4UXaOf2arGvdv/AAOXnvZAYmq4tacgbEuEgAGdwME2VV0IeqY0/RHp81VqQOXy0T+qS2kQSXQNTqeZhULBdpmuALmlnnI+SlkvQ8Gl2PQznF7e7gjMJtGo22Ynk6/vS/DY+m4SHAdbcEJX2w3NYE3IEandNlOMqGbiy20ttiYe09RceiY4fH03+y4dND6FUqg+q6CWtA4E+KfJEuEQePuVllfkm8SfRdRUC6zqntxtRp8Lj01HvRmH2yZh49PyKoskWTeOS6LA9yie9D4faNB1s9+DvD8UV3bToqJoRpgzqqifWRpotC5OHam5IXixa5xXLUzOHHJRvoBbmDiDtcscVupShQmUBjHFYo3laWoBTcXiGexPiIzRf2ZjX9aJdsao1tesXGLU45+0jsRSHtb4hKsDTmtWtoKZ/Epzm020WhBUkx1X2gfsNA5m56woCMx8V/l04KKvVFNpc4Oj+Fjnn0aCUixXaYtkU6RnjVt08AufULnbyZCy4QLhsoXI4AJoxU7sRtCpVqVu8fMNZAADWi50Av6kq4sVFFxVMVyUto5xTnZCGQHbiQSPOCvP+0lfFsB7zNGgyGGHduHxXo7aUrMVsmm9sPBcLGJI0vuuhxVmtnm2zNgMq4dr3ZhUdPQQ5wFugCtrNmBhLxSDBkLZADeccdwVhw2GYxoaxoaBuAhRbUH0Z8/gVOWPttjxn4PPu1NQlrAP3jHuRvZvBM7hjiN7jfk9yW9oKhLWfePwTXs+T+zN4eL8bkjS4WMl6xltbbDiwMpyxoAHCbRdVdrO8c791uvN2sHmBBvx5I7alOGtLnG82GpyiSb7rLezdl5ATxGYzeZk69ffPFTabVsNeqgHEYbwlQbOFWjUzMJaRzieR/1TnEiGTu1ROHwQq0XObq2/UR/p+oU8MX47GnFeRpgNtvrMLXPa1wFw1viPm4wPRBdxnaT3hzNNpDeo0AKS4im5hDhZw9ocRxRGHqk6HVd+KssN9nLkvHIslCi6m7O3uzm1jNTn8U70cdoBsZ2kTwLXD3Gfcq4a7m5C42Lov0P5Iutimuho3fG8rTfHoaC5D1uOp/vR94Fo9SIRNN4OhB6GUl2ZV9qCYaf7QVHSbFS4BExBv0Q+p0g8Cy00xwoSrDYawMuBN7OJ9xkJphGED2ieoHyTsUA7Tf4ar9x/4HKq/wCz7Sr1Z8HK09pz/wANV+4/8DlVP9nxtW60/g5A3kt+LvTcOSqFbYYFMju58J3TeDw8lZcVh87SXkkbm/ZHXiVWsY2kwkiuykRuY45vON6nNXsyZXcW12HljgII03TpZD4Sq672Ogg24/BN6mL78ObWaKjALPM06kjgRZ3QoTD4FwYHMa8yTIDWwLke0DY9Qp1+Ba2TUO0NVuuV44kR8ITSh2kYbOaR0hw+RSv9gZU1NRrv4mtd8CFj+zNRwzUy14/hdlI5EOiE8Vy8jWywUNpUnmz2+Zyn0KJcNCqFi9kV2Xcx45lpI9RZR0MbWpjwuPkfloneMZZC+PErvD4ypTBDXkR6ehsqbh+1FRvttDuog+o/JNqW3muALmls34j5JakhrTLVh+0jwYqNDuYsfyTClt1jgT7MGDmsqdTxlJ48L269D6FTBwynmisrQrxJlyOOtLQD529UHjdqPYwugW3CSSfVVSlUcw+FxF9xT5ji6mwuuTr7+CosvIR46GGztoGowOIg7xwKlqPSfEYynRdlc4NkA304IzDxUGZr2uHFpke5Wi012Rkmn0SVHhYgdoYqjSgVKgBdoPtHo0XKxHlH8ibK5X9lLtjfX1+lP+5MK3spdsj6+t0p/wBykdA8BUR2DQqv72o0vcYEEnKALDwjXzXYR+F9lYNHeHwzGNysY1o4NAaPQKSn+v1C5bUibaR0MqLCmrnOdzS2LQIgzv3+9AwyolT1Q8i2UDiZJ9LfFQUUafZQCIKtZ2ctc8xy8F+rb+9AmMrpguvciXRBtm1/9LvadTxB360UTjDnb5aVyzk7o6IxVFX7RMADAP3jy+KedlR/wzdPt7/43JP2l0Z94/AJx2Yn9npxxf8AjKMvYBe8abR2IK1MO4QR5EE+qgx7clOAPZEegJ+CsuH+p8nKs7XdDHcweX2RvRr0IF+piXaOKAbl5Qem75qLZON7upTAJgtqyJsfC0CR+tUVU2b3pPIg+4oPZWBAxLC4+ENeOUlv/ihhS5IOaTphGKJe4uj04IjB0GwDKnxWJY0EMEzvPyQOGxOWQRIK61jqVrycrncafgi7dZDh6QBB+l//ADenNGk3u2AWOVptxAVW7YVB3LC3XvPdkenWBFR1NpJ+yIHko5ltFcT0zrZlRxxVannOXI1wG7NDb+8oza+KdSYarQDlLXCdD4hr6pXsupGNq5tRTbv5NRvaX/D1OEN3fxtUfl/hX4v9l8pumOgTGholeGNh0HwTKgbLq8EBX2o/w1X7j/wOVU/2e6VutP4OVq7TCcPVAuSx8czkcqz2BwtRgq52OZOSMzS2bO0nVA3ksO1aTnsyg5W/aI1I3Add/RUraVWm0to0WtJA8RAEDjcancrptmvkpO4wVSsJhslMud7UF3lH+nvUsvih4KyCpQ7sN1l0NHG97KemX0iH0yWnfwI4OG8LNrN+np3sCIHmJTE4cljQfasPUgD4rm4vTT2V4o6xe2aXdsdVpznJHggkFsEyDHEcV3htu4bM0tqFu5wc1wkbpMESLb0o7QYMNZTmAXZiBzETHWVX2xxXdF2t9nO1XXR6fRx1N/sVGO6OBPpK5xODpv8Abptd1aCfXVeZkDkp6WNez2Krm9HkD0lNYKLhiezOHdo1zPuuPwdKJo7IoBoaWTAAmTJgRKqNLtPWbrWa7k4NPvEFHUe15+0xp+6XN+MoNoyRM3sy0VXvddhdLWg7oGpRGMOWm8M8MNMQBbwyLInZm2m1jAY8czGUec/JR1z4zH74/tUJ+4tHorGF2jiPDOSpMbsrr210V8a4tpMBbcESG3uTxMWE+5Buw7CQSxpMzMCZ6qLa9F7jJq5G/Za05ToZLnblWktolbBO1wp942cmZzbSRmME6TdVvZfaU4R78viY65YbQ7cQuds4QPg94a5aNTncB0ebRbck+MDXCXMa0g2LZbqby2SI104BT88kLLeh/sHaFbEV3Pn6R2r4BIZ+40n2W30C0kdHaBptLGOieAIceUjxR5raMMiS3ZJwbZeK2iXbIP09b7tP+5Ma+iW7I+vrfdZ/crlR2EfhfZ9UAEbhXjLqFgk7xZZSQtE/Svvbwx6Ipg1/1+aVOxmqDaJRn2UFRKMJ8KwCo7SMgX3/ACWOcMzjxYVHtN8AWm4+BXWbxuEW7s/Erjkts6V0VztJ7NO+8/BNuy/+HZ1f+NyTdovZZxzH5Jt2a/w7Or/xlUfsEj7y64X6nycqpt2crzJhrS4+g15aK04P6n+r5qrbZJOcDe2POLJvihX7md4YXeeY5bklwL+8rtYd8uN/3WkfNyYUqwa06H2SJ004/rRVnCV3UsVmBkFjo+8RpvA3CTbUpcfaBmlqh7tBwBA3fla3nHqomtnT/TpzSrD4vvKjszoa2N4aSTfKJNuP8sC5T2lrYCLWBm0CItouyMrOWhB2rtSZ/wBT+1yb7PxLg1ubSB5CEL24oAUKbhvqR/keUzwTA6gyf3R7t6hme0dGFdkOCYHY6sdfo2fBiK2+0jDVdY8P42pdsk5cdUbxptH4Uw7RmcPU/l/E1R+a/Rb4/wCl7ovhoPABb2BjDUNUH7DnMniQ9/8AaW+qD/bGhoFz4d0WEamd3r0VTwHaXuGYjNr3zy0/ZeQ1rYAEmfYPu62b6OdvZdto4gPpPO4Fwno0z6GR5IzB+yOgVbZimnDZ3mAGl0Fp8Iyklzzo52h5WjeS82NtClWpZ6NRtRumZpkSNRPFN4Mjja7R3byeCpGIxjX0yJuGGP6SrxtcTSf0Xm+JpsDDGuU/BTn2ikXSYdWrtc9pcILSIRmMxHhBBiC0noCLpBXrl14gwY9Fm2cdYlpAsDe8WufT4pOIZT7C+3OJinQcT4h4o5ua2B6SqThHw7LuJ04JptSo+plEyGiOea8x7kFh8C4EPtAvrf0Vo72QTCO5WzSdmAERF+v6hEMk6xFo3HzTTAbMzwXGGnS48XSNdCg5UVSsVNwhcfC3M7d1T/ZuwWZgKpgnQD3yiK2zmd25jSG5oh1g4epEnkEPtDHtp1KXiksbz3RqpcrGkuKJNi4qo5zmuAYGRADYsZ1k8vemjnDMb/ab8kv2caby6o2qHEhngAvvu47tTbkjM9/5m/JaS6Gi7sPfG/RAbbwzHOALrCCGi8ug6nlA9UZWph1is23hmMondcX3q5BlTq4gBrmuGZpI8MxmO4HiOSS1sMMwbvdwsExDMz4E20/NMMbs1hp06jJLi0ggcW+17/iknByf9IKaS/sQ16LGgZgSOAiY3xO9aR2N2DVb3ZmQ5wEcJnVbSxxziqo0uDZY65sl2yPr633WfNMK+iquPp4kVKr6ZcGANJySDGgJ3kTIsui6BVl1CjqYoNc1sOJcYGUSBafEfsjmUt7N419Smc5Jc15aSRB0BuOIlR7W7PuxDy4Pa0OLGjMJywJJHpCBh6H3Ig2103+d12yvctEyAHcoJIFxbcbclXKPZCXteK2UyIDKcEHw+L2ucprtGswYaoadanTIMOqMyOhwquJEC2YtNh/EFtm0NG4hw0cUxbtiiW+060z9HVEEWM+HmPVVPZO3KVSKfeTUAi4jORvBHhJOsD0VmoTY6QHagb8kiAeZ6dCVjFdxmNpkxmPH2XDiN4Wm46nc5hdpA15ngpcThvpGsOmYA9Mw999NN2kKKrTJc+Y0nzmONtf1AXLKrOhXRWtt1mkNgg+I8bJv2dxlNtFuZ7BGaQXAfbcd/JM8T2dZVa0vc62f2co0FpBF9Fx/u8UWtptJgcbnxwTe0wSY/NM64IVXzHeC2nRFGDWpg+LV7Z380jx+JY50Ne1028JBPulO8JSJotne5wI5HMDvuOXxhIdq0ctad4pgyd0ue0+XwTfBAfuE2MqEUpbILHANJDS0ECIdbTLOk24WVTfUJfna4kAAzEwSHxvuDeeg1IVwq0mFzmFpcHgvtINgA64vPs+h5LnsdsxvdkP1Ic0Zm65obJuCbFxgH7Ot0IolNWzfZzsi6tQZiX1yHPnwd005Yc4XLiTJgSLalWilsONHiPux13ptQwwpU2026Nn1JJJ9SVsFXSoFCDtD2cdiKTKbaoZlfnktJkZXNix/inyRFDYJaAO8EQBZvLqnK6KEop9jJtdCLD9nGtrur96SXNDcuUACI3zyRWK2GyoxzHOfDomMs2M2kFV3C7J8T6hDg8w3WxaBwjl8F1X2c95yuDg1zhJBvEj03JKV9DbrstNbZjHGTn4QHEDfOmkyZQY7L4W80icxzGX1Dc2NsyrG3aP0TSM4MtuJGVmhzRvI3i+kaFM6eBY41SKjgB7IEixaHRrw+I4Qmdfgn2yxN2XR9k0wQ4OBkuJIyOsTMnp1UuysOzD0xSotDWAkhtzBcS43JnUlUfA7aZUqFjMzL5yXFpDqZzDw5ZI0bbnuTbA7Zayq2gTepmdMseKftANMgwTlNhp4bXKCbbqh3FJdlpxFUuaW6SIlVXGdm3lsMc0nKReW7oG4pzWc403Fp43DWzroLTKr+LdWHhFR994JBg21G9aVGVi7aWxcUB4aRdA+y5p9BMoU7CxdRmR9BwEQZLGzbdJ1Ok81fNl0i2g0uc5zjmkucXGxIGunklna6tUFKmab3tdmbJaSCRlvPx8luKFaKpS7GYqPsNJMkOfYDyBkzPK6MwfYqsDL61MDeGhzveYQ+M2tie7b3daoTNzN9JvbTh1PALnY20MY+sxr6tTKTcGNIJjTkjpKwJbLNR7PtpgGQ46XEaAc0RQwrmuJmQYgbmRw6oLF457BepA0kkRJ336e5HOruA3e/wDNTqMytyiJNt1qlF4IacriASAQ0SRviBZVnaL3PrDLLRDQA6ftSJJid88gF6BsnEOqF5J9mLCIuTc+Q471T3tLs1R5nI1x3TDYsLam/wCtTwSJylY97MbPyk5mtnfBkGN9xcG8RbzVkNFmuVvoFWew+0zWY4PnO10yYgte4loAi2WI6QidubX7l5aACdY8yNfJOogTpDzM3khce0OMOEi1jcehSTYO0alYvLiIbEBoG/iU5xB06BPQbFuNwjMjsrGgwYIEX3aLjYVNxdLnAhjcrYHle5k636IrE1IaTGaBMXvytdL62NcyGNY2m1zTIAOZriyQZsJEcNyHKmDjfQftvENDILw1whzZO9pzR7o81iUU6veSa1JjjlkeCbj7RMTOg4LEZSUtixhKOg6ufCqxhdrO76pctYADa5fwtuunW3nxRifac1vqZ+Sq9CznQdzegmSB6EISVorj9w/7NYsNBpvMl7i4O3OJgEHnYprin1w76Om1zRBBL8txO7KeKrdSiGnfANwfvD5Eq2YRxyCTJ4/CUaEu2K8V+2vpvpinRbnaWEmq4nIcodYU9S0RrvKX4/ZDqeDLSACKzXkNMgDIWTJA4tEK1hC7XZmovHIH0IKxmVPA7L8LyQ1xLBlOYDI4uFwQfaEac0dQ7a1WwCadhHiY+dG3JD9bIrCYMsNNpPhe2ehjQe71XnfiN96KX5BddF3PahxeH/RzIPsvAsQePJZ/8in9y/AuHyVLh0f+ltofxSvHEP1JHoLe2ZAjumnXR53iP3VBiu1Ocg90Rp9qdI5clR2F43/FdtxD/wB73lFwjVAU3dnoWG7ZQwN7gmCTOfjP8PNB4vtA2pULjSdBp5Imd5M6c/cqszHNjxAzxDzdadjaf8fk4z8dErgqobm7ssm0Kwa1tVt8ovzaRBaSNJBKio9o2NrMdlJpRmLWwTnOYNDm6RJeefgSQ7UaWlji7LEQQD0vqusOMM4mHZXOkaOAg9fCEn02nYHJs9YwGMbVoMqNBDXTAdqIJHE8FKFXthbVw1HC06Tq7czS6Z5vc7dbeEWO0uF3Vmnoqow6C6KS/wDyShuzu6Nn5rh/amlup1j/ACD/ALljWMxgWc/U/mt/sTefqUlf2upj/lVPPKPmoHdsmbqTvNwHyRo1jx+y6ZtBiIibRBEQepUP+46XiIzS4ZZzaeENtbkEkd204UB5v/8AFcO7ZP3Um/1E/JDia0dnYFPDkuZnPeucC2RDQC8tAAGlxrOiCGymjHgNGVoeCCOLRmOvEjnr5KN/aaoXfVsjxGDmI8QLTv0uVCe0FbJlhmuYOg5g7iDOqKiLZfm0Gj7I9AVC/AUiZLBKpg7UYk/ab5MHzXDu0OKP2yOjGf8Aas42MpF+mG5RAAmwEaqDFYVlQND2hwEETOsRuVEqbaxW+q4eQHyQ79s1t+IcN31oGnKUOJuRdv8AcWGiO5bHmffKko7IoMIc2k0EaEC4VAO0qh/57z/9jj8CVC/GE61HHr3nzCPEFno+LwNNzfHTabnUTuHHqVyXt0JbHMheamoDxPkPmQoy4cHeYaPmsopGbPSmYmiyYfTbOsOaJ63XnVXEPzmQC3MbaAjxaxr7RQ7q7eX9QHyUZxjeXrPwCzjYLHnZ3axpVGtcA1peC9/8NrQPNWXFbbwhcSXtdzyONv6V52cc3+H0d+a4djxz9B8ytRrPQR2gwzR4XR0Y4fJcVu1FC0ZzYD2fzK8+OP6/5R8lwccefqfkjQbLzX7UMg9212aPCSBE7pulGI2/XefEGGxHsHeCDv4FVp2Md+iT81Ga55egQo1lnb2krifq9I9kz+JYqsazuKxGjWehdo/Zp/8AVaqzhPbqdGfhCxYlHj2Psb7B6/knmyPY9PgtLEREHqPHfVv6LSxAYGxGlDy+DV5hUsyRrK0sTIRg2c8T6rC48VixYxolbCxYsA7AW1ixAJ0VtYsWMdNXaxYsY5IXQcRoSOixYsFGDG1BpUf/AFO/NM9nYuodajz1cSsWLAHtASBN9NUWaLf3Ru3BYsSjEFWm3gNeA4FJ8fUImCR0MblixFAYndi6k/WP/qP5o/DjMPFfrf4rFiZAO61Fo0aB0AUVJx4raxYxJVFkrxNVw0cR5lYsWADd646uJ8ytLFiwTSwLFixjSwrSxYBgWFYsWMaWitrFjGlixYsY/9k=) no-repeat center;

}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}